* {
  box-sizing: border-box;
}
header {
  text-align: center;
  font-size: 15px;
}
section::after {
  content: "";
  display: table;
  clear: both;
}
.box1 {
  left: 20px;
  top: 200px;
  width: 75%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; 
  border: 2px black solid;
}

.box2 {
  float: left;
  padding: 20px;
  width: 25%;
  overflow: hidden; 
  border: 2px black solid;
}

.strip {
  border: 2px black solid;
}
